#Navbar {
	background-color: orange;
	padding-bottom: 2em;
}

#Navbar > *, #Navbar a {
	color: white;
}

#GridList {
	margin-top: 1em;
}
.gridItem {
	padding: 3em;
}

.star {
	float: right;
}

.starSelected {
	color: yellow;
}